section{width: 100%; height: 1380px;}
#section{width:1420px; height: 1380px; margin: 0 auto;}
#section_left{width: 800px; height: 1330px; margin-left: 100px; float: left; margin-top: 50px; position: absolute;}

/* 게시판 검색창 */
#search_wrap fieldset{float: right; margin: 0 20px 10px 0;}
#search_wrap select, #search_wrap input{vertical-align: middle; border: 1px solid #aaaaaa; padding-bottom: 2px; margin-right: 20px;}
#search_wrap select{height: 24px;}
#search_wrap input{height: 22px;}
#search_wrap button{height: 24px; width: 60px; background: #707784; color: #ffffff; border-radius: 5px; line-height: 24px;}
#search_wrap button:hover{cursor: pointer; color: #666666;}

/* 게시판 목록 */
#board{width: 800px; height: 500px;}
#board > .first{clear: both; background-color: #ffde02; border-radius: 10px 10px 0 0; color: #333333; font-weight: bold; text-shadow: 0 0 1px #ffffff;}
#board > .first .title1{border-radius: 10px 0 0 0;}
#board > .first .title4{border-radius: 0 10px 0 0;}
#board > div:hover{background-color: #ffffee;}
#board > div input{display: none;}
#board > .first > div{line-height: 50px; height: 50px; text-align: center; float: left;}
#board > div > div{width: 100px; line-height: 50px; height: 50px; text-align: center; float: left; border-bottom: 1px dotted #ffde02;}
#board > div:hover > div{background-color: #efefef;}
#board > .first:hover > div{background-color: #ffcc00;}

/* 게시판 세부 목록 */
#board .title2{width: 500px; text-align: justify;}
#board .content_wrap{height: auto; width: 96%; text-align: left; padding: 2%; display: none;}

/* #board input:checked ~ div.content_wrap{display: block;} */
/* #board input:checked ~ div.title2 > label{cursor: default;} */
/* #board label{cursor: pointer; line-height: 50px; height: 50px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} */
#board .label{cursor: pointer; line-height: 50px; height: 50px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.subject{text-align: justify; font-weight: bold; font-size: 16px; background: #dfdfdf; padding: 10px 20px; line-height: 26px;}
.content{text-align: justify; padding: 10px 20px; background: #ffffff; line-height: 24px; border-bottom: 1px solid #dddddd;}

/* 안내사항 */
#section_leftetc_tip{width: 800px; height: 300px; float: left;}
.box_type1{border: 1px solid #e1e1e1; margin-top: 70px;}
.tip_area .tit_tip{position: relative; padding: 2px 0 0 54px; color: #333333; font-size: 16px; font-weight: bold; line-height: 48px; border-bottom: 1px solid #e1e1e1; text-transform: uppercase; width: 710px;}
.tip_area{width: 740px; height: 207px;}
.tip_area .list_type1, .tip_area{padding: 10px 30px 16px 20px;}
ul{display: block;}
.list_type1 li .btn_link{margin-top: 6px;}
.btn_link{padding: 1px 39px 0 10px; font-size: 12px; line-height: 27px; border: 1px solid #8b929e; border-radius: 3px; background: #ffffff;}
.kb_btn{overflow: visible; display: inline-block; margin: 0; padding: 0; color: #333333; text-align: center; white-space: nowrap; vertical-align: middle;}
a, a:link, a:visited, a:active{text-decoration: none;}
.list_type1 li{padding: 0 0 10px 10px; line-height: 1.5; width:678px; height: 31px; list-style-type: none;}
.color1{color: #e44b3a;}
em{font-style: normal;}

#section_right{float: right; width: 404px; height: 1310px; /* background: rgba(0,200,0,.5); color: red; */ margin-top: 70px;}
	#section_mymenubox{width: 269px; height: 320px; margin-left:39px; background: #f9f9f9; border: 1px solid #e3e3e3;}
		#section_slogin{width: 269px; height: 230px; z-index: 10;}
		#section_slogin .slogin{width:260px; height:230px;}
			.slogin .slogin_text{background:#ffffff; width:269px; height:170px;  margin-top:10px; margin-left: auto; margin-right: auto; border-radius: 5px}
			.slogin .btn_login{background:#ffde02; width:260px; height:180px; margin:10px auto 0;}
			.slogin .img{text-align: center; margin-top: 20px; margin-bottom: 5px;}
			.slogin #user_id{border:none; width: 250px; padding: 10px; border-bottom: 1px solid #999999; margin-top:20px; margin-left: 15px; height:18px;}
			.slogin #user_pwd{width: 250px; padding: 10px; border-bottom: 1px solid #999999; margin-top: 15px; margin-left: 15px;height:18px;}
			.slogin .check{width: 265px; margin: 0 auto; font-size: 0.8em; padding:20px 0px; color: #555555;}
			.slogin .check #btn1{margin-left:15px;}
			.slogin .check #btn2{margin-left:115px; margin-top: -15px;}
			.slogin #btn_login{width: 265px; padding: 10px 0; background: #ffde02; margin-top:15px; margin-left: 2px; color:#000000; font-weight:bold; border-radius:5px; font-size:1.01em; cursor:pointer;}
			.slogin .find{width:260px; padding-left: 5px; }
			.slogin .find a{float: left; font-size: 0.9em;  padding-top: 10px; color: #555555;}
			.slogin .find a:after{content:'   |   '; white-space:pre;}
			.slogin .find .none:after{content:''; white-space:pre;}
			
			.fl{float: left;}
			.fr{float: right;}
		
		#section_slogin .slogin #user_id{width: 200px;}
		#section_slogin .slogin #user_pwd{width: 200px;}
		#section_slogin .slogin .guide_text.active{border-bottom:2px solid #ffde02; height:17px; z-index: 12;}
		
		.gray{color:#aaaaaa;}
		
	#section_card_issuance{width: 269px; height: 212px; margin-top: 15px; margin-left:39px;/*  background: rgba(100,50,0,.5);  */ border: 1px solid #e3e3e3;}
		#section_card_issuance > ul >li{list-style-type: none; }
		#section_card_issuance > ul >li >a{margin-left: 20px; line-height: 2.4;}
		#section_card_issuance > ul.title{width: 269px; height: 50px; background: #f9f9f9;}
		#section_card_issuance > ul.title >li{font-weight: bold; font-size: 20px; margin-left: 20px;  line-height: 50px;}
		
	#section_issuance_event{width: 269px; height: 212px; margin-top: 15px; margin-left: 39px; float: left; /* background: rgba(200,20,50,.5); */ border: 1px solid #e3e3e3; clear: both;}
		#section_issuance_event > ul >li{list-style-type: none; float: rigth; width: 150px; height: 100px; margin-left: 20px;}
		#section_issuance_event > ul >li.img{width: 10px; height: 10px;}
		#section_issuance_event > ul >li >a{font-size: 18px;}
		#section_issuance_event > ul.title{width: 269px; height: 50px; background: #f9f9f9;}
		#section_issuance_event > ul.title >li{font-weight: bold; font-size: 20px; margin-left: 20px;  line-height: 50px;}
		#section_issuance_event > ul>li>strong{font-weight: 600; font-size: 20px; margin-left: 20px; display: block; overflow: hidden; line-height: 23px; letter-spacing: -1;}
		#section_issuance_event > ul >li>a>img{margin-left: 165px; margin-top: 10px;}
	#section_card_comparison_box{width: 269px; height: 212px; margin-left: 39px; border: 1px solid #e1e1e1; margin-top: 242px;}
		#section_card_comparison_box > ul >li{list-style-type: none; margin-left: 20px; margin-right: 20px;}
		#section_card_comparison_box > ul.title{width: 269px; height: 50px; background: #f9f9f9; float: left;}
		#section_card_comparison_box > ul.title >li{font-weight: bold; font-size: 20px; margin-left: 20px;  line-height: 50px; float: left;}
		#section_card_comparison_box > ul>li>strong{font-weight: 600; font-size: 20px; margin-left: 20px; letter-spacing: -1;}
		#section_card_comparison_box > ul >li>a>img{float: left; margin-left: 15px; margin-top: 15px;}
		#section_card_comparison_box > ul >li.last>a{width: 170px; height: 32px; border-radius: 5px; background: #ffde02;  line-height: 32px; display: block; text-align: center; margin-left: 30px; margin-top: 70px;}
